body.negatif::before{
    filter: invert(1);
    border-radius: 50px;
    z-index: -1;
}

body.negatif input,
body.negatif button{
    background: rgb(115,189,165);
    color: black;
}

body.negatif a{
    color: black;
}
#negatifToggle, #negatifToggle{
    padding: 10px;
}