html,
*{
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    transition: 1s;
}
body{
    background-color: gray;
}
br{
    display: block;
    content: "";
    margin-bottom: 10px;
}
footer{
    background-color: black;
    position: fixed;
    color: white;
    display: flex;
    bottom: 0;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    height: 10vh;
}
footer div a{
    color: white;
    text-decoration: none;
    margin: 30px;
}
#btn{
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background: transparent;
    border-color:#66ccff;
    text-decoration: none;
    border: none;
    transition: 0.4s;
}
header{
    width: 100vw;
    background-color:black;
}
#endcenter{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: sticky;
    height: fit-content;
}
#corp{
    margin-top: 50px;
    width: 100vw;
    display: flex;
    align-items: center  ;
    justify-content: center;
}
#nom,#image{
    width: 100vw;
        display: flex;
    justify-content: center;
}
#image>img{
    width: 400px;
    height: auto;
    border-radius: 40px;
}
#content{
    display: flex;
    flex-direction: row;
}
#deux{
    display: flex;
    flex-direction: column;
}
#first{
    display: flex;
    align-items: center;
    justify-content: center;
}