html,
*,body{
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

br{
    display: block;
    content: "";
    margin-bottom: 10px;
}
body{
    height: 100vh;
    background: url("../Portfolio/Images/lslfjk2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;    
}
#together{
    width: 100%;
    display: flex;
    justify-content: center;
}
#nom{
    border: 2px solid white;
    opacity: 0.3;
    backdrop-filter: blur(0px);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
    transition: 2s;
    width: 300px;
    height: 300px;
    margin-right: 200px;
}
#nom,
#autre > button {
    transition: background-color 1s ease;
    opacity: 0.3;
}
#nom:hover,
#autre > button:hover {
    background-color: rgba(255, 255, 255, 0.327);
    opacity: 1;
}
img{
    width: 100%;
    border-radius: 12px ;
}
#photo{
    padding-top: 30px;
    margin-right: 100px;
    margin-top: 0px;
    /* margin: 70px; */
}
#all{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    position: inherit;
    margin-left: 250px;
}
footer{
    position: fixed;
    color: white;
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
    bottom: 0;
}
#vrai{
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 3px;
}
footer div a{
    color: white;
    text-decoration: none;
    margin: 30px;
}
.click{
    color: white;
    background: transparent;
    padding: 30px;
    border-radius: 12px;
    border-color:#66ccff;
    margin: 12px;
}
#autre{
    width: 100%;
}

#btn{
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background: transparent;
    border-color:#66ccff;
    text-decoration: none;
    border: 2px solid transparent;
    transition: 0.4s;
}
#btn:hover{
    border-color: #66ccff;
}