    html,
    *{
        margin: 0;
        padding: 0;
        transition: 1s;
    }
    body{
        background-color: gray;
    }
    br{
        display: block;
        content: "";
        margin-bottom: 10px;
    }
    footer{
        background-color: black;
        position: fixed;
        color: white;
        display: flex;
        bottom: 0;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        height: 10vh;
        overflow-y: scroll;
        overflow-x: hidden;

        padding: 12px;
    }
    footer div a{
        color: white;
        text-decoration: none;
        margin: 30px;
    }
    #btn{
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
        background: transparent;
        text-decoration: none;
        border: none;
        transition: 0.4s;
    }
    header{
        width: 100vw;
        background-color:black;
    }
    #endcenter{
        width: 95vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        height: fit-content;
        position: sticky;
        z-index: 10;
        top: 0;
    }
    #change{
        transition: 0.4s;
        opacity: 0;
        margin: 7px;
        padding: 7px;
    }
    #opening:hover{
        cursor: pointer;
    }
    #corp{
        margin-top: 50px;
        width: 100vw;
        display: flex;
        align-items: center  ;
        justify-content: center;
    }
    #nom,#image{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    #image>img{
        width: 400px;
        height: auto;
        border-radius: 40px;
    }
    #content{
        display: flex;
        flex-direction: row;
    }
    h4:hover{
        text-decoration: underline;
    }
    #deux{
        display: flex;
        flex-direction: column;
    }
    #first{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
    }
    #second,#third{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
        margin: 12px;
        padding: 20px;
    }
    #content > #first > #nocturne1 > ul > li , #second > #nocturne2 > ul > li , #third > #nocturne3 > ul > li{
        opacity: 0;
    }
    #figure1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }